pandas
requests
scikit-learn
nltk
vaderSentiment
openpyxl
python-dotenv
scrapy
ensembledata
fastapi
uvicorn
gunicorn
sqlalchemy
pyodbc
azure-identity
azure-keyvault-secrets
azure-communication-email
python-multipart
